= image_tag @pic.image.url
%h1= @pic.title
%p= @pic.description
%p
Picture by:
= @pic.user.email

%br

= link_to "Back", root_path
= link_to "edit", edit_pic_path
= link_to "delete", pic_path, method: :delete, data: {confirm: "Really!!!"}
